node_modules/
.tmp/
coverage/
htmlcov/
*.log

.env*
!.env.example

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.pyright/
.ruff_cache/
.cache/
.tox/
.nox/
.coverage
.coverage.*
.venv/
venv/
build/
dist/
*.egg-info/
*.whl

.godot/
